/*  CSS RESET {{{ */
*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: calc(1em + 0.5rem);
	padding: 0;
	margin: 0;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}

button {
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
	max-block-size: 100%;
}

ol,
ul,
menu {
	list-style: none;
	padding-inline: 0;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
	font-size: 1em;
}

b,
strong {
	font-weight: bolder;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
	border-collapse: collapse;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}
/* #endregion }}} */

@font-face {
	font-family: 'white-rabbit';
	src: url('../assets/whitrabt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'iosevka';
	src: url('../assets/IosevkaCustom-SemiExtended.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--primary: whitesmoke;
	--secondary: teal;
	--box-shadow: 4px 4px 7px #70809055, 0 0 3px #708090a5;
}

h1,
h2,
h3 {
	font-family: 'white-rabbit', Arial, Helvetica, sans-serif;
}

body {
	font-family: 'iosevka', Arial, Helvetica, sans-serif;
}

main {
	--bgc: var(--primary);
	--color: black;
	background-color: var(--bgc);
}

section {
	padding: 2rem;

	@media (min-width: 50rem) {
		padding-inline: 4rem;
	}
}

.hero {
	--mw: 60rem;
	position: relative;
}

.hero::before {
	content: '';
	background-color: var(--secondary);
	inset: 0;
	position: absolute;
	clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% min(70vh, 80%));
}

.section__hdg,
.footer__hdg {
	font-size: min(10vw, 2.5rem);
	text-align: center;
	margin-bottom: 1rem;
}

.hero__container {
	position: relative;

	margin: 0 auto;
	max-width: var(--mw);
}

.hero__img {
	display: block;
	width: auto;
	height: 40rem;
	object-fit: cover;
	position: relative;
	z-index: 0;
	@media (min-width: 50rem) {
		float: left;
		left: -2rem;
		width: 21rem;
		height: 24rem;
		z-index: 2;
	}
}

.hero__img-wrapper {
	position: relative;
	&::after {
		content: '';
		inset: 0;
		position: absolute;
		z-index: 1;
		background: linear-gradient(to top, #333, transparent 30%);

		@media (min-width: 50rem) {
			background: none;
		}
	}
}

.name {
	font-size: min(12vw, 3rem);
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
	color: whitesmoke;
	z-index: 3;
	text-shadow:
		0 0 5px #333,
		2px 2px 4px #333;

	@media (min-width: 50rem) {
		top: 0;
		text-align: right;
	}
}

.about {
	position: relative;
	z-index: 1;
	padding-bottom: 0;
	max-width: var(--mw);
	margin: 0 auto;

	@media (min-width: 50rem) {
		margin-top: 5rem;
		background-color: var(--bgc);
		box-shadow: var(--box-shadow);
	}
}

.about__p {
	padding-bottom: 1rem;
}

.about__contact-links {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

@media (min-width: 50rem) {
	.about > nav {
		display: none;
	}
}

.about__link-icon {
	height: 2.5rem;
	stroke: var(--color);
	fill: var(--color);
	& > *:not(.letters) {
		fill: var(--color);
	}
	& > *.letters {
		fill: var(--bgc, white);
	}
}

.work__projects-list {
	display: grid;
	gap: 2.2rem 1.4rem;
	grid-template-columns: repeat(1, 1fr);
	@media (min-width: 50rem) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 90rem) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card {
	display: block;
	box-shadow: var(--box-shadow);
	background-color: #fbf8f3ff;
}

.card__img {
	height: auto;
	max-height: 20rem;
	width: 100%;
	object-fit: cover;
	margin-bottom: 0.7rem;
}

.card__body {
	padding-inline: 2rem;
	padding-bottom: 2rem;
}

.card__title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.8rem;
	margin-bottom: 0.7rem;
}

.card__title {
	font-size: min(2rem, 5vw);
	@media (min-width: 50rem) {
		font-size: 1.2rem;
	}
}

.card__link-container {
	display: flex;
	gap: 0.5rem;
}

.card__link-icon {
	height: 2rem;
	& > * {
		fill: var(--color);
		stroke: var(--color);
	}
}

.card__description p {
	margin-bottom: 0.7rem;
}

.footer {
	--bgc: var(--secondary);
	--color: whitesmoke;
	background-color: var(--bgc);
	color: var(--primary);
	@media (min-width: 50rem) {
		display: flex;
	}
}

.footer__hdg {
	@media (min-width: 50rem) {
		text-align: left;
	}
}

.footer__cta,
.footer__text {
	margin-bottom: 1rem;
}

.contact {
	min-width: 24rem;
	padding-right: 0;
	@media (min-width: 50rem) {
		text-align: left;
	}
}

.footer__img {
	width: 100%;
	@media (min-width: 50rem) {
		width: 30%;
		max-height: 30rem;
		object-fit: cover;
		margin: 2rem;
	}
}

.footer .about__contact-links {
	@media (min-width: 50rem) {
		justify-content: start;
	}
}
