/*  CSS RESET {{{ */
*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: calc(1em + 0.5rem);
	padding: 0;
	margin: 0;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}

button {
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
	max-block-size: 100%;
}

ol,
ul,
menu {
	list-style: none;
	padding-inline: 0;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
	font-size: 1em;
}

b,
strong {
	font-weight: bolder;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
	border-collapse: collapse;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}
/* #endregion }}} */

:root {
	--color: green;
}
section {
	padding: 2rem;
}

.about__contact-links {
	display: flex;
	gap: 1rem;
}

.about__link-icon {
	height: 2.5rem;
	stroke: var(--color);
	fill: var(--color);
	& > *:not(.letters) {
		fill: var(--color);
	}
}

.card {
	display: block;
	box-shadow: 2px 2px 8px #333;
}

.card__img {
	height: auto;
	max-height: 20rem;
	width: 100%;
	object-fit: cover;
}

.card__body {
	padding-inline: 2rem;
}

.card__title-container {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__title {
	font-size: 2rem;
}

.card__link-container {
	display: flex;
	gap: 0.5rem;
}

.card__link-icon {
	height: 2rem;
	& > * {
		fill: var(--color);
		stroke: var(--color);
	}
}
